* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* backgrounds */
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-card-hover: #334155;

  /* Text */
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;

  /* Accents */
  --accent-primary: #818cf8;
  --accent-success: #10b981;
  --accent-danger: #ef4444;

  /* Borders & Shadows  */
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);

  --container-max-width: 1200px;
  --transition-fast: 0.2s ease;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  /* padding: 40px; */
}

/* Global Layout Helper */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

/* Header Polish */
.main-header {
  background-color: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--accent-primary);
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding: 0;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--accent-primary);
  color: #fff;
  padding: 0.6rem 1.25rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: transform var(--transition-fast),
    background-color var(--transition-fast);
  box-shadow: 0 4px 6px -1px rgba(129, 140, 248, 0.2);
}

.btn-primary:hover {
  background-color: #6366f1;
  transform: translateX(-1);
}

.library-grid {
  display: grid;

  /* 4 column grid */
  grid-template-columns: repeat(4, 1fr);

  /* Control the height of the rows */
  grid-auto-rows: 200px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card,
.card-featured {
  grid-column: span 2;
  grid-row: span 1;
  background-color: var(--bg-card);
  border: var(--border);
  border-radius: 16px;
  padding: 24px;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* .card-featured {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #3b82f6;
  color: white;
} */

.card:hover {
  transform: translateY(-5px);
  background-color: var(--bg-card-hover);
}
