* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* backgrounds */
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-card-hover: #334155;

  /* Text */
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;

  /* Accents */
  --accent-primary: #818cf8;
  --accent-success: #10b981;
  --accent-danger: #ef4444;

  /* Borders & Shadows  */
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  /* padding: 40px; */
}

header {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: var(--text-main);
  padding: 2rem;
  line-height: 2rem;
}

.btn-primary {
  /* margin-right: 40px; */
  /* padding: 5px; */
  background: none;
  color: var(--text-main);
  font-size: 20px;
  border-radius: 20px;
}

.library-grid {
  display: grid;

  /* 4 column grid */
  grid-template-columns: repeat(4, 1fr);

  /* Control the height of the rows */
  grid-auto-rows: 200px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card,
.card-featured {
  grid-column: span 2;
  grid-row: span 1;
  background-color: var(--bg-card);
  border: var(--border);
  border-radius: 16px;
  padding: 24px;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* .card-featured {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #3b82f6;
  color: white;
} */

.card:hover {
  transform: translateY(-5px);
  background-color: var(--bg-card-hover);
}
